{
  "schemaVersion": 1,
  "id": "{{PluginId}}",
  "moduleName": "{{Module}}",
  "displayName": "{{DisplayName}}",
  "description": "",
  "version": "0.1.0",
  "author": "",
  "homepage": "",
  "entryAssembly": "{{AssemblyName}}.dll",
  "moduleType": "{{RootNamespace}}.{{Module}}Module",
  "priFiles": {{PriFiles}},
  "minHostSdk": "{{HostSdk}}",
  "navigation": {{Navigation}},
  "callsPermission": ""
}
